# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys2 import g_key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_df = pd.read_csv(r'../Outputs/WeatherPy_Data.csv')
weather_df

,City,Country,Temperature,Max Temp,Humidity %,Cloudiness %,Wind Speed (mph),Latitude,Longitude
0,Bila Tserkva,UA,61.29,61.29,77,99,10.85,49.8094,30.1121
1,Ji’an,CN,77.23,77.23,90,30,3.51,27.1172,114.9793
2,East London,ZA,51.21,51.21,66,45,21.14,-33.0153,27.9116
3,Port Hardy,CA,57.13,57.13,86,96,5.75,50.6996,-127.4199
4,Yellowknife,CA,71.29,71.29,59,84,8.39,62.4560,-114.3525
...,...,...,...,...,...,...,...,...,...
584,Kisangani,CD,75.00,75.00,60,71,0.96,0.5167,25.2000
585,Bariloche,AR,49.75,49.75,46,0,12.66,-41.1456,-71.3082
586,Aripuanã,BR,82.45,82.45,41,0,2.48,-9.1667,-60.6333
587,Codrington,AU,40.98,40.98,91,100,9.89,-38.2667,141.9667
588,Kalabo,ZM,56.66,56.66,34,0,6.38,-14.9700,22.6814

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Store latitude and longitude in locations
locations = weather_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
humidity = weather_df["Humidity %"].astype(float)

In [11]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2.1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
weather_df.columns
len(weather_df)

589

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# A max temperature between 90 - 65 degrees
# Wind speed <12 mph.
# <10% cloudiness.

ideal_cities = weather_df.loc[(weather_df['Max Temp']>=65) & (weather_df['Temperature']<89) &
                (weather_df['Cloudiness %']<=10) & (weather_df['Wind Speed (mph)']<12)].reset_index()

ideal_cities

,index,City,Country,Temperature,Max Temp,Humidity %,Cloudiness %,Wind Speed (mph),Latitude,Longitude
0,26,Indiaroba,BR,70.57,70.57,89,1,4.18,-11.5192,-37.5117
1,36,Lompoc,US,72.95,90.79,70,1,11.50,34.6391,-120.4579
2,68,Maragheh,IR,80.04,80.04,29,0,2.21,37.3917,46.2398
3,69,San Patricio,US,86.54,88.52,41,3,6.93,28.0170,-97.5169
4,73,Pishin,PK,76.10,76.10,39,0,4.45,30.5803,66.9961
...,...,...,...,...,...,...,...,...,...,...
69,549,Destin,US,86.38,90.05,76,1,8.05,30.3935,-86.4958
70,552,El Campo,US,85.95,88.79,58,1,0.00,29.1966,-96.2697
71,566,Fortuna,US,66.24,82.18,65,1,7.00,40.5982,-124.1573
72,570,Colares,PT,63.48,65.28,78,4,7.00,38.7992,-9.4469
73,586,Aripuanã,BR,82.45,82.45,41,0,2.48,-9.1667,-60.6333

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Store into variable named hotel_df
# Add a "Hotel Name" column to the DataFrame.


hotel_df = {
    "Hotel Name":"",
    "City": "",
    "Country": "",
    "Reviews":"",
    "Rating":"",
    "Lat":"",
    "Lon":"",
}

SyntaxError: invalid syntax (<ipython-input-8-c73b3ad0785f>, line 7)

In [ ]:
# Set parameters to search for hotels with 5000 meters.
target_type = "lodging"
ideal_coords = ideal_cities[["Latitude", "Longitude"]]

# rewrite params dict
params = {
    "location": ideal_coords,
    "types": target_type,
    "radius": 5000,
    "key": g_key
}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [ ]:
for index,row in clean_df.iterrows():
    city = row["City"]
    query_url = weather_url + "appid=" + weather_key + "&q=" + city + "&units=" + units 
    print(f"Processing results to Index {index}: ({city})")
    try:
        response = requests.get(query_url).json()
        time.sleep(1)
        temps_json.append(response["main"]["temp"])
        max_temp_json.append(response["main"]["temp_max"])
        cities_json.append(response["name"])
        countries_json.append(response["sys"]["country"])
        humid_json.append(response["main"]["humidity"])
        clouds_json.append(response["clouds"]["all"])
        winds_json.append(response["wind"]["speed"])
        lng_json.append(response["coord"]["lon"])
        lat_json.append(response["coord"]["lat"])
    
    except:
        print(f"{city} not found")
        pass

# Run request
response = requests.get(base_url, params)

# print the response URL, avoid doing for public GitHub repos in order to avoid exposing key
# print(response.url)

seattle_bikes = response.json()

# Print the JSON (pretty printed)
# print(json.dumps(seattle_bikes, indent=4, sort_keys=True))

# Print the name and address of the first bike shop to appear
print(seattle_bikes["results"][0]["name"])
print(seattle_bikes["results"][0]["vicinity"])

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure